// Grandis Extendeded font
@font-face {
  font-family: "Grandis Extended";
  src: url(../../fonts/GrandisExtended/GrandisExtended-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Grandis Extended";
  src: url(../../fonts/GrandisExtended/GrandisExtended-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Grandis Extended";
  src: url(../../fonts/GrandisExtended/GrandisExtended-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Grandis Extended";
  src: url(../../fonts/GrandisExtended/GrandisExtended-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Grandis Extended";
  src: url(../../fonts/GrandisExtended/GrandisExtended-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Grandis Extended";
  src: url(../../fonts/GrandisExtended/GrandisExtended-Black.woff2);
  font-weight: 900;
  font-style: normal;
}

// Jost font
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-200-Thin.woff2);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-300-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-400-Book.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-500-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-700-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-800-Heavy.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(../../fonts/Jost/Jost-900-Black.woff2);
  font-weight: 900;
  font-style: normal;
}

//Mulish font
@font-face {
  font-family: "Mulish";
  src: url(../../fonts/Mulish/Mulish-VariableFont_wght.ttf);
  font-style: normal;
}

//Geologica Roman font
@font-face {
  font-family: "Geologica Roman";
  src: url(../../fonts/GeologicaRoman/Geologica-Black.woff2);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url(../../fonts/GeologicaRoman/Geologica-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url(../../fonts/GeologicaRoman/Geologica-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url(../../fonts/GeologicaRoman/Geologica-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geologica Roman";
  src: url(../../fonts/GeologicaRoman/Geologica-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
